.menu-contato {
    right: 0;
    background: #fff;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    margin-top: 20px;
}

.menu-contato img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.menu-contato h2 {
    text-align: center;
}

.icon {
    right: 0;
    background: #fff;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 4 10px purple;
    width: 300px;
    margin: auto;
    margin-top: 20px;
}

.icon-button {
    display: flex;
    padding: 15px 30px;
    font-size: 30px;
    cursor: pointer;
    background-color: #1976d2;
    color: #fdffff;
    border: none;
    border-radius: 20px;
    transition: all 0.9s ease;
    gap: 20px;
    margin-top: auto;
    margin-bottom: 20px;
}

.icon-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px white;
    background-color: #6c4fff;
}