footer {
    background-color:#94c1ed;
    color:#1f0a1d ;
    text-align: center;
    padding: 10px;
    bottom: 0;
    max-width: 100%;
    margin-left: 50px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}
img {
  max-width: 100%;
  height: auto;
}

footer button {
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s;
    cursor: pointer;
}

footer button:hover {
    background-color: #6c4fff;
    box-shadow: 0 5px 10px white;
}

footer nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

footer nav button {
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s;
    cursor: pointer;
}

footer nav button:hover {
    background-color: #6c4fff;
    box-shadow: 0 5px 10px white;
}
