footer {
  width: 100%;
  left: 0;
  top: 0;
  background-color: #94c1ed;
  color: #1f0a1d;
  text-align: center;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

footer button {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s;
  cursor: pointer;
}

footer a {
  font-size: 1.5em;
  gap: 30px;
}

footer button:hover {
  background-color: #6c4fff;
  box-shadow: 0 5px 10px white;
}



footer nav button {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s;
  cursor: pointer;
}

footer nav button:hover {
  background-color: #6c4fff;
  box-shadow: 0 5px 10px white;
}