footer {
    background-color:#94c1ed;
    color:#1f0a1d ;
    text-align: center;
    padding: 10px;
    bottom: 0;
    max-width: 100%;
    margin-left: 50px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}
img {
  max-width: 100%;
  height: auto;
}
