header {
    width : 100%;
    left : 0;
    top: 0;
    background-color: #94c1ed;
    color: #1f0a1d;
    text-align: center;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

header a {
    font-size: 1.5em;
    gap: 30px;
}

header h1 {
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;
}

header button {
    width: ;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 30px;
}


.botao-animado:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px white;
    background-color: #6c4fff;
    gap: 30px;
}

.button-onclick {
    background-color: #1976d2;
    transform: translateY(-5px);
    background-color: #6c4fff;
    width: 100px;
    height: auto;
    color: white;
   
    text-decoration: none;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s;
    display: inline-block;
    cursor: pointer;
    gap: 30px;

}
img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 280px;
    margin-right: 10px;
}
button[type="submit"] {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #1976d2;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
