main {
    max-width: 900px;
    padding: 20px;
    background-color:#94c1ed;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-radius: 15px;
}
main h2 {
    margin-bottom: 20px;
    color: #1f0a1d;
    text-align: left;
}
main p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
body {
    background-image: url(img/Gemini_Generated_Image_rcq9yzrcq9yzrcq9.png);;
    background-size: cover;
    background-position: center;
}