main {
    max-width: 900px;
    padding: 20px;
    background-color: #94c1ed;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-radius: 15px;
}

main h2 {
    margin-bottom: 20px;
    color: #1f0a1d;
    text-align: left;
    font: optional;
}

main p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font: optional;
}

body {
    background-image: url(img/Gemini_Generated_Image_rcq9yzrcq9yzrcq9.png);
    background-size: cover;
    background-position: center;
}

img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px  black;
}

button {
    right: 0;
    background: #1976d2;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4 10px purple;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    color: bisque;
    font-size: large;
}

button:hover {
    transition: all 0.9s ease;
    transform: translateY(-5px);
    box-shadow: 0 5px 10px white;
    background-color: #6c4fff;
}

.button-onclick {
    background-color: #1976d2;
    transform: translateY(-5px);
    box-shadow: 0 5px 10px white;
    background-color: #6c4fff;
    width: 100px;
    height: auto;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 25px;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s;
    display: inline-block;
    cursor: pointer;
}