 @charset "UTF-8";

 :root {
    --cor-01:#7DB364;
    --cor-02:#F18F3B;
    --cor-03:#C9DFD2;
    --cor-04:#fff;
    --cor-05:#7299C5;
}
 
 body {
      font-family: Arial, sans-serif;
      background-color: var(--cor-01);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      background-color: var(--cor-05);
      padding: 30px;
      border-radius: 30px 0 30px 0 ;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      width: 600px;
      height: auto;
      text-align: center;
      position: relative;
      overflow: hidden;
    }

    .container h2 {
      color: var(--cor-04);
    }

    .form {
      display: none;
      animation: fadeIn 0.5s ease-in-out;
    }

    .form.active {
      display: block;
    }

    input {
      width: 60%;
      padding: 10px;
      margin: 10px 0;
    }

    button {
      width: 30%;
      padding: 10px;
      background-color: var(--cor-02);
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
        background-color: var(--cor-04);
        color: var(--cor-02);
        box-shadow: 2px 4px 6px var(--cor-02);
        transform: translateY(-5px);
    }

    span {
      color: var(--cor-04);
      cursor: pointer;
      font-weight: bold;
    }

    @keyframes fadeIn {
      from { opacity: 0; transform: translateY(20px) }
      to { opacity: 1; transform: translateY(0); }
    }